@charset "utf-8";
* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "微软雅黑";
}

html {
    font-size: 25px;
    background: #eff0ef;
}

#my_header {
    width: 15rem;
    height: 8.36rem;
    background: url(../images/dt.png) no-repeat;
    background-size: 100%;
    nav {
        background: rgba(0, 0, 0, 0.4);
        position: relative;
        ul {           
            width: 15rem;
            height: 8.36rem;
            display: flex;
            justify-content: space-around;
            padding-top: 0.56rem;
            li {
                width: 0.9rem;
                height: 1rem;
                img {
                    width: 100%;
                }
            }
        }
        div {
            position: absolute;
            top: 1.2rem;
            margin-left: 6.16rem;
            span {
                display: block;
                width: 3.32rem;
                height: 3.32rem;
                
                img {
                    width: 100%;
                }
            }
            p {
                margin-top: 0.6rem;
                width: 4.56rem;
                height: 0.74rem;                
                font-size: 0.72rem;
                color: #FFFFFF;
                img {
                    width: 0.7rem;
                    height: 0.7rem;
                }
            }
        }
    }
}
#my_article{
    width: 100%;
    .pg-main{
        #wrapper{
            .wrap{
                margin:0 auto;
                .tabs{
                    background: white;
                    height: 1.8rem;
                    width: 100%;
                    padding-top: 8px;
                    text-align: center;
                    font-size: 0.72rem;
                    color: #8be5a0;
                    .part{
                        display:block;
                        float:left;
                        width:5rem;
                        text-align:center; 
                        .part:first-child{
                            border-right: 1px solid #ADDAFD;
                        }
                    }
                    .part:hover{
                        a{
                            color:#8be5a0 ;
                        }
                    }
                    .active{
                        a{
                           color: #8be5a0;
                           border-bottom: 2px solid #fff; 
                        }
                    }
                    a{
                       color: black;
                       display:block;
                       text-align:center;
                       margin:0 auto;
                       text-decoration:none;
                       padding-bottom: 2px; 
                    }                   
                }
                .swiper-container{
                    width:100%;
                    border-top:0;
                    margin-top:10px!important;
                    .swiper-slide{
                        width:100%;
                        background:none;
                        color:#373737;
                        .content-slide{
                            background: white;
                            height: 4.72rem;
                            padding-top: 0.7rem;
                            margin-bottom: 0.4rem;
                            .global{
                                width: 12.8rem;
                                height: 3.52rem;
                                margin: 0 auto;
                                .my{
                                    font-size: 0.56rem;
                                    border-bottom: 1px solid lightgray;
                                    height: 1.2rem;
                                }
                                ul{
                                    display: flex;
                                    justify-content: space-between;
                                    line-height: 1.25rem;
                                    li:nth-child(1){
                                        font-size: 0.56rem;
                                        color: #999999;
                                        p{
                                            color: #01d031;
                                        }
                                    }
                                    li:nth-child(2){
                                        margin-top: 0.6rem;
                                        width: 3.84rem;
                                        height: 1.5rem;
                                        background: #1dc21c;
                                        color: white;
                                        text-align: center;
                                        line-height: 1.5rem;
                                        font-size: 0.56rem;
                                        border-radius: 10px;
                                        
                                    }
                                }
                            }
                        }
                        .con_two{
                            background: white;
                            height: 4.72rem;
                            padding-top: 0.7rem;
                            margin-bottom: 0.4rem;
                            .global{
                                width: 12.8rem;
                                height: 3.52rem;
                                margin: 0 auto;
                                .my{
                                    font-size: 0.56rem;
                                    height: 1.2rem;
                                }
                                ul{
                                    display: flex;
                                    justify-content: space-between;
                                    font-size: 0.56rem;
                                    color: #333333;
                                    li{
                                        img{
                                            width: 1.2rem;
                                            height: 1.2rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
