@charset "utf-8";
* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "微软雅黑";
}

html {
    font-size: 25px;
    background: #eff0ef;
}

#trends_header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 1.84rem;
    background: white;
    ul {
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-top: 0.56rem;
        li {
            text-align: center;
            line-height: 0.8rem;
            a {
                color: #666666;
                font-size: 0.48rem;
                text-decoration: none;
                img {
                    width: 0.5rem;
                    height: 0.5rem;
                }
            }
        }
        li:nth-child(1) {
            width: 1.4rem;
            height: 0.8rem;
            border-radius: 10px;
            font-size: 0.36rem;
            color: #a3a6a3;
            text-align: center;
            line-height: 0.8rem;
        }
        li:nth-child(2) {
            width: 6.64rem;
            height: 1.1rem;
            display: flex;
            margin-right: 3rem;
            .active {
                background: #00ffdf;
                a {
                    color: #666666;
                }
            }
            span:hover {
                background: #00ffdf;
                a {
                    color: #666666;
                }
            }
            span:nth-child(1) {
                display: inline-block;
                width: 3.32rem;
                height: 1.1rem;
                border-radius: 10px 0 0 10px;
            }
            span:nth-child(2) {
                display: inline-block;
                width: 3.32rem;
                height: 1.1rem;
                border-radius: 0 10px 10px 0;
                background: #e6e6e6;
            }
        }
    }
}

#trends_article {
    width: 100%;
    background: #eff0ef;
    .pg-main {
        #wrapper {
            .wrap {
                margin: 0 auto;
                .tabs {
                    background: #eff0ef;
                    height: 1.5rem;
                    width: 100%;
                    line-height: 1.7rem;
                    text-align: center;
                    font-size: 0.48rem;
                    color: #666666;
                    .part {
                        display: block;
                        float: left;
                        width:33%;
                        text-align: center;
                    }
                    .active {
                        a {
                            width: 1.48rem;
                            color: #c2c3c2;
                            border-bottom: 2px solid #8be5a0;
                        }
                    }
                    a {
                        width: 1.48rem;
                        color: black;
                        display: block;
                        text-align: center;
                        margin: 0 auto;
                        text-decoration: none;
                        padding-bottom: 2px;
                    }
                }
                .swiper-container {
                    width: 100%;
                    border-top: 0;
                    margin-top: 10px!important;
                    .swiper-slide {
                        width: 100%;
                        background: none;
                        color: #373737;
                        .content-slide {
                            background: white;
                            height: 7.52rem;
                            padding-top: 0.7rem;
                            margin-bottom: 0.4rem;
                            .global {
                                width: 14.74rem;
                                margin:0 auto;
                                div {
                                    width: 14.74rem;
                                    height: 7.52rem;
                                    background: url(../images/dt.png) no-repeat;
                                    background-size: 100%;
                                    padding: 0.56rem 0 0 0.64rem;
                                    position: relative;
                                    ul:nth-child(1) {
                                        display: flex;
                                        justify-content: space-around;
                                        width: 5.86rem;
                                        height: 0.72rem;
                                        line-height: 0.72rem;
                                        background: rgba(0, 0, 0, 0.5);
                                        border-radius: 10px;
                                        li {
                                            font-size: 0.28rem;
                                            color: #f1eeee;
                                            img {
                                                width: 0.6rem;
                                                height: 0.6rem;
                                            }
                                        }
                                    }
                                    ul:nth-child(2) {
                                        position: absolute;
                                        bottom: 0.74rem;
                                        display: flex;
                                        height: 1.52rem;
                                        line-height: 0.7rem;
                                        li:nth-child(1) {
                                            width: 1.4rem;
                                            height: 1.52rem;
                                            img {
                                                width: 100%;
                                            }
                                        }
                                        li:nth-child(2) {
                                            margin-left: 0.2rem;
                                            span {
                                                font-size: 0.6rem;
                                                color: #ffffff;
                                            }
                                            p {
                                                color: #d1cbcb;
                                                font-size: 0.48rem;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}